<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1> home</h1>
    
    <h2>There are 6 articles with id'd 1-6 </h2>
    <p>Use <a href="/details/1/"> http://127.0.0.1:8000/details/1/</a> to get the details of the arrticle 1 </p>
    <p>Use <a href="/counter/1/">http://127.0.0.1:8000/counter/1/</a> to increase the count of article 1 </p>
    <p>Similarly you can vist and know the deatils of the articles by replaceing the pk of the link with your preffered article from 1-6 </p>
    <p>hello sir</p>

    
</body>
</html>
